<div class="left-sidebar-small stop">
    <div class="logo-small">
        <a href="#" class="nut"><img src="/assets/images/homes/logo-small.png" alt=""></a>
    </div>
    <div class="left-menu-small">
        <ul>
            <li><a href="#" class="nut"><i class="fas fa-bars"></i></a></li>
            <li><a href="/"><i class="far fa-calendar"></i></a></li>
            <li><a href=""><i class="far fa-star"></i></a></li>
            <li><a href="/profile/<%= user._id %>/group"><i class="fas fa-user-friends"></i></a></li>
            <li><a href=""><i class="far fa-calendar-alt"></i></a></li>
            <li><a href=""><i class="fas fa-globe-asia"></i></a></li>
            <li><a href=""><i class="fas fa-birthday-cake"></i></a></li>
            <% if(user.admin){ %>
                <li><a href=""><i class="fas fa-file-contract"></i></a></li>
                <li><a href=""><i class="fas fa-edit"></i></a></li>
            <% } %>
        </ul>
    </div>
</div>
<div class="left-sidebar close-left hiden-left-sidebar">
    <div class="logo">
        <a href="profile.html"><img src="/assets/images/homes/logo.png" alt=""></a>
    </div>
    <div class="left-menu">
        <ul>
            <li class="menu-item"><a href="#" class="den"><i class="fas fa-times"></i>
                    <p>Menu thu gọn</p>
                </a></li>
            <li class="menu-item"><a href="/"><i class="far fa-calendar"></i>
                    <p>Bảng tin</p>
                </a></li>
            <li class="menu-item"><a href=""><i class="far fa-star"></i>
                    <p>Trang đã thích</p>
                </a></li>
            <li class="menu-item"><a href="/profile/<%= user._id %>/group"><i class="fas fa-user-friends"></i>
                    <p>Nhóm</p>
                </a></li>
            <li class="menu-item"><a href=""><i class="far fa-calendar-alt"></i>
                    <p>Sự kiện</p>
                </a></li>
            <li class="menu-item"><a href=""><i class="fas fa-globe-asia"></i>
                    <p>Cộng đồng</p>
                </a></li>
            <li class="menu-item"><a href=""><i class="fas fa-birthday-cake"></i>
                    <p>Sinh nhật bạn bè</p>
                </a></li>
           
                <% if(user.admin){ %>
                    <li class="menu-item"><a href=""><i class="fas fa-file-contract"></i>
                        <p>Thống kê</p>
                    </a></li>
                <li class="menu-item"><a href=""><i class="fas fa-edit"></i>
                        <p>Quản lý trang web</p>
                    </a></li>
                <% } %>    
        </ul>
    </div>
</div>