<div class="popup-wraper3">
  <div class="popup">
      <span class="popup-closed"><i class="fas fa-times"></i></span>
      <div class="popup-meta">
          <div class="popup-head">
              <h5>Báo cáo</h5>
          </div>
          <div class="Rpt-meta">
              <span>Vui lòng chọn một lý do:</span>
              <form id="form_repost_post" method="post" class="c-form">
                  <input id="input_idpost" type="hidden">
                  <div class="form-radio">
                    <div class="radio">
                      <label>
                        <input type="radio" name="radio_report" checked="checked" value="Spam"><i class="check-box"></i>Spam
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="radio_report" value="Thông tin sai sự thật"><i class="check-box"></i>Thông tin sai sự thật
                      </label>
                    </div>
                      <div class="radio">
                      <label>
                        <input type="radio" name="radio_report" value="Ngôn từ gây thù ghét"><i class="check-box"></i>Ngôn từ gây thù ghét
                      </label>
                    </div>
                      <div class="radio">
                      <label>
                        <input type="radio" name="radio_report" value="Vấn đề khác"><i class="check-box"></i>Vấn đề khác
                      </label>
                    </div>
                  </div>
              <div>
                  <label>Viết báo cáo</label>
                  <textarea id="content_report" placeholder="Hãy nhập vấn đề bạn gặp phải..." rows="2"></textarea>
              </div>
              <div>
                  <button data-ripple="" type="submit" class="main-btn color">Báo cáo</button>
                  <button class="main-btn cancel" data-ripple="">Hủy</button>
              </div>
              </form>	
          </div>
      </div>	
  </div>
</div>