<div class="right-sidebar-small stop fixed-right">
    <div class="right-edit-small right-nut right-edit-small-01"><i class="fas fa-bars"></i></div>
    <div class="right-menu-small">
        <ul>
            <li>
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
            </li>
            <li>
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-online"></div>
                </div>
            </li>
            <li>
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-online"></div>
                </div>
            </li>
            <li>
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
            </li>
            <li>
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-online"></div>
                </div>
            </li>
            <li>
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
            </li>
            <li>
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
            </li>
            <li>
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
            </li>
            <li>
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
            </li>
            <li>
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
            </li>
            <li>
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="right-edit-small right-nut"><i class="fas fa-bars"></i></div>
    <div class="chat-open-small"><i class="far fa-comments"></i></div>
</div>
<div class="right-sidebar close-right hiden-right-sidebar">
    <div class="right-menu">
        <ul>
            <li class="title">
                <div class="subtitle"><a href="#">BẠN THÂN</a></div>
                <div class="setting"><a href="#">CÀI ĐẶT</a></div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-online"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username">Lương Cảnh</strong></a>
                    <p class="status">ĐANG HOẠT ĐỘNG</p>
                </div>
                <div class="more"><i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-online"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username">Lương Cảnh</strong></a>
                    <p class="status">ĐANG HOẠT ĐỘNG</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username">Nguyễn Lương Cảnh</strong></a>
                    <p class="status">NGOẠI TUYẾN</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username"> Nguyễn Nguyễn Lương Cảnh</strong></a>
                    <p class="status">NGOẠI TUYẾN</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-online"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username">Lương Cảnh</strong></a>
                    <p class="status">ĐANG HOẠT ĐỘNG</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="title">
                <div class="subtitle"><a href="#">CHƯA PHÂN LOẠI</a></div>
                <div class="setting"><a href="#">CÀI ĐẶT</a></div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username"> Nguyễn Nguyễn Lương Cảnh</strong></a>
                    <p class="status">NGOẠI TUYẾN</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-online"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username">Lương Cảnh</strong></a>
                    <p class="status">ĐANG HOẠT ĐỘNG</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username"> Nguyễn Nguyễn Lương Cảnh</strong></a>
                    <p class="status">NGOẠI TUYẾN</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-online"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username">Lương Cảnh</strong></a>
                    <p class="status">ĐANG HOẠT ĐỘNG</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username"> Nguyễn Nguyễn Lương Cảnh</strong></a>
                    <p class="status">NGOẠI TUYẾN</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-online"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username">Lương Cảnh</strong></a>
                    <p class="status">ĐANG HOẠT ĐỘNG</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-busy"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username"> Nguyễn Nguyễn Lương Cảnh</strong></a>
                    <p class="status">NGOẠI TUYẾN</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
            <li class="right-menu-item">
                <div class="user">
                    <img src="/assets/images/homes/avatar-default.png" alt="">
                    <div class="status-online"></div>
                </div>
                <div class="name">
                    <a href="#"><strong class="username">Lương Cảnh</strong></a>
                    <p class="status">ĐANG HOẠT ĐỘNG</p>
                </div>
                <div class="more">
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="right-big-list-icon-item">
                        <a href=""><i class="fas fa-comment-dots"></i></a>
                        <a href=""><i class="fas fa-comments"></i></a>
                        <a href=""><i class="fas fa-comment-slash"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="right-edit">
        <input class="right-edit-input" type="text" placeholder="Tìm kiếm">
        <i class="fas fa-sliders-h"></i>
        <i class="fas fa-times right-den"></i>
    </div>
    <div class="chat-open">
        <strong>TIN NHẮN</strong>
        <i class="far fa-comments"></i>
    </div>
</div>