<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/perfect-scrollbar/css/perfect-scrollbar.css">
  
  <link rel="stylesheet" href="/css/spinners.css">
  <link rel="stylesheet" href="/chatTemplate/csss/css/main.min.css">
  <link rel="stylesheet" href="/chatTemplate/csss/css/style.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/chatTemplate/csss/css/color.css">
  <link rel="stylesheet" href="/chatTemplate/csss/css/responsive.css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/socket.io/socket.io.js"></script>
  <title>Document</title>
</head>
<body style="background-color: #fff;">

<%- include('layouts/topBar') %>
<div class="theme-layout">
  <div class="row" style="margin-top: 70px;">
      <div class="col-lg-12">
          <div class="message-users">
              <div class="message-head">
                  <h4>Chat Messages</h4>
                  <div class="more">
                      <div class="more-post-optns"><i style="margin: 0;" class="fa fa-cog" aria-hidden="true"></i>
                          <ul>
                              <li><i class="fa fa-wrench"></i>Setting</li>
                              <li><i class="fa fa-envelope-open"></i>Active Contacts</li>
                              <li><i class="fa fa-folder-open"></i>Archives Chats</li>
                              <li><i class="fa fa-eye-slash"></i>Unread Chats</li>
                              <li><i class="fa fa-flag"></i>Report a problem</li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="message-people-srch">
                  <form method="post">
                      <input type="text" placeholder="Search Friend..">
                      <button type="submit"><i style="margin: 0;" class="fa fa-search"></i></button>
                  </form>
                  <div class="btn-group add-group" role="group">
                      <button id="btnGroupDrop2" type="button" class="btn group dropdown-toggle user-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                        <a class="dropdown-item" href="#">Online</a>
                        <a class="dropdown-item" href="#">Away</a>
                        <a class="dropdown-item" href="#">unread</a>
                        <a class="dropdown-item" href="#">archive</a>
                      </div>
                  </div>
                  <div class="btn-group add-group align-right" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn group dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create+
                      </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">New user</a>
                        <a class="dropdown-item" href="#">New Group +</a>
                          <a class="dropdown-item" href="#">Private Chat +</a>
                      </div>
                  </div>
              </div>
              <div class="mesg-peple">
                  <ul class="nav nav-tabs nav-tabs--vertical msg-pepl-list">
                      <% listFriends.forEach(function(data){ %>
                        <li  class="nav-item unread ">
                            <div data-id="<%= data._id %>" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1000;cursor: pointer;" class="overlay_userchat item_user_chat"></div>
                            <a  class="active item_user_chat"  data-toggle="tab">
                                <figure><img src="<%= data.image %>" alt="">
                                    <span class="status f-online"></span>
                                </figure>
                                <div class="user-name">
                                    <h6 class=""><%= data.username %></h6>
                                    <span>you send a video - 2hrs ago</span>
                                </div>
                            </a>
                        </li>
                      <% }) %>
                      
                     
                  </ul>
              </div>
          </div>
          <div class="tab-content messenger">
              <div class="tab-pane active fade  " id="link1" >
                  <div class="row merged">
                      <div class="col-lg-12">
                          <div class="mesg-area-head">
                              <div class="active-user">
                                  <figure ><img class="avatar_user_chat" src="img/avt-05.jpg" alt="">
                                      <span class="status f-online"></span>
                                  </figure>
                                  <div>
                                      <h6  class="unread username_user_chat">Andrew</h6>
                                      <span>Online</span>
                                  </div>
                              </div>
                              <ul class="live-calls">
                                  <li class="audio-call"><span class="fa fa-phone"></span></li>
                                  <li class="video-call"><span class="fa fa-video"></span></li>
                                  <li class="uzr-info"><span class="fa fa-info-circle"></span></li>
                                  <li>
                                      <div class="dropdown">
                                          <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <i class="fa fa-th" aria-hidden="true"></i>
                                          </button>
                                          <div class="dropdown-menu dropdown-menu-right">
                                              <a class="dropdown-item audio-call" href="#" ><i class="fa fa-headphones" aria-hidden="true"></i>Voice Call</a>
                                              <a href="#" class="dropdown-item video-call"><i class="fa fa-video-camera" aria-hidden="true"></i>Video Call</a>
                                              <hr>
                                              <a href="#" class="dropdown-item"><i class="fa fa-server" aria-hidden="true"></i>Clear History</a>
                                              <a href="#" class="dropdown-item"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>Block Contact</a>
                                              <a href="#" class="dropdown-item"><i class="fa fa-trash" aria-hidden="true"></i>Delete Contact</a>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-8 col-md-8">
                          <div class="mesge-area">
                              <ul class="conversations">
                                  <li>
                                      <figure><img src="img/anh-bia.webp" alt=""></figure>
                                      <div class="text-box">
                                          <p>HI, i have faced a problem with your software. are you available now</p>
                                          <span><i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i> 2:32PM</span>
                                      </div>
                                  </li>
                                  <li class="me">
                                      <figure><img src="img/avt-05.jpg" alt=""></figure>
                                      <div class="text-box">
                                          <p>HI, i have checked about your query, there is no any problem like that...</p>
                                          <span><i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i> 2:35PM</span>
                                      </div>
                                  </li>
                                  <li class="you">
                                      <figure><img src="img/avt-05.jpg" alt=""></figure>
                                      <div class="text-box">
                                          <p>
                                              thank you for your quick reply, i am sending you a screenshot
                                              <img src="img/4.png" alt="">
                                              <em>Size: 106kb <ins>download Complete</ins></em>
                                          </p>
                                          <span><i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i> 2:36PM</span>
                                      </div>
                                  </li>
                                  <li class="me">
                                      <figure><img src="img/avt-05.jpg" alt=""></figure>
                                      <div class="text-box">
                                          <p>Yes, i have to see, please follow the below link.. <a href="#" title="">https://www.abc.com</a></p>
                                          <span><i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i> 2:38PM</span>
                                      </div>
                                  </li>
                                  
                                  <li class="me">
                                      <figure><img src="img/avt-05.jpg" alt=""></figure>
                                      <div class="text-box">
                                          <p>
                                              Dear You May again download the package directly.. 
                                              <span><ins>File.txt</ins> <i class="fa fa-file"></i> 30MB download complete</span>
                                          </p>
                                          <span><i class="fa fa-check" aria-hidden="true"></i><i class="fa fa-check" aria-hidden="true"></i>2:40PM</span>
                                      </div>
                                  </li>
                                  <li class="you">
                                      <figure><img src="img/avt.webp" alt=""></figure>
                                      <div class="text-box">
                                          <div class="wave">
                                              <span class="dot"></span>
                                              <span class="dot"></span>
                                              <span class="dot"></span>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div class="message-writing-box">
                              <form method="post">
                                  <div class="text-area">
                                      <input type="text" placeholder="write your message here..">
                                      <button type="submit"><i style="margin: 0; font-size: 15px;" class="fa fa-paper-plane-o"></i></button>
                                  </div>
                                  <div class="emojies">
                                      <i><img src="/chatTemplate/img/bieu cam/81.png"></i>
                                      <ul class="emojies-list">
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/1.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/2.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/3.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/4.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/5.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/6.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/7.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/8.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/9.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/10.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/11.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/12.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/13.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/14.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/15.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/16.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/17.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/18.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/19.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/20.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/21.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/22.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/23.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/24.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/25.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/26.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/27.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/28.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/29.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/30.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/31.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/32.png" alt=""></a></li>
                                          <li><a href="#" title=""><img src="/chatTemplate/img/bieu cam/80.png" alt=""></a></li>
                                         
                                      </ul>
                                  </div>
                                  <div class="attach-file">
                                      <label class="fileContainer">
                                          <i class="fa fa-link" aria-hidden="true"></i>

                                          <input type="file">
                                      </label>
                                  </div>
                              </form>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                          <div class="chater-info" >
                              <figure><img class="avatar_user_chat" src="img/avt-05.jpg" alt=""></figure>
                              <h6 class="username_user_chat">Andrew</h6>
                              <span>Online</span>
                              <div class="userabout">
                                  <span>About</span>
                                  <p class="about_user_chat">I love reading, traveling and discovering new things. You need to be happy in life.</p>
                                  <ul>
                                      <li class="phone_user_chat"><span>Phone:</span> +123976980</li>
                                      <li ></li><span>Email:</span> <a href="http://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__ email_user_chat" data-cfemail="a0d3c1cdd0ccc5e0c7cdc1c9cc8ec3cfcd">[email&#160;protected]</a></li>
                                      <li class="phoneAdress_user_chat"></li><span>Phone:</span> Việt Nam</li>
                                  </ul>
                                  <div class="media">
                                      <span>Media</span>
                                      <ul>
                                          <li><img src="img/user/audio-user1.jpg" alt=""></li>
                                          <li><img src="img/user/audio-user2.jpg" alt=""></li>
                                          <li><img src="img/user/audio-user3.jpg" alt=""></li>
                                          <li><img src="img/user/audio-user4.jpg" alt=""></li>
                                          <li><img src="img/user/audio-user5.jpg" alt=""></li>
                                          <li><img src="img/user/audio-user6.jpg" alt=""></li>
                                          <li><img src="img/user/admin2.jpg" alt=""></li>
                                          <li><img src="img/user/audio-user1.jpg" alt=""></li>
                                          <li><img src="img/user/audio-user2.jpg" alt=""></li>
                                          <li><img src="img/user/audio-user6.jpg" alt=""></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>  
          </div>
      </div>
      
     <div class="bottombar">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <span class="copyright">&copy; Pitnik 2020. All rights reserved.</span>
    <i><img alt="" src="img/credit-cards.png"></i>
  </div>
</div>
</div>
    </div>
  </div>
 
</div>
</body>
</html>
<!-- <script src="/assets/jquery/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/js/chatbox.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/spinners.js"></script> -->
<script src="/assets/jquery/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
  <script src="/clientChats/chat.js"></script>
  <script src="/chatTemplate/js/main.min.js"></script>
  <script src="/chatTemplate/js/script.js"></script>