
.row.site-header .header-search {
  height: 70px;
  width: 500px;
  vertical-align: middle;
  white-space: nowrap;
  background: #494c62;
  position: relative;
}
.row.site-header .header-search input.search:hover, .row.site-header .header-search input.search:focus, .row.site-header .header-search input.search:active {
  outline: none;
}
.row.site-header .header-search input.search:focus ~ .list.history {
  opacity: 1;
  visibility: visible;
}
.row.site-header .header-search input.search {
  height: 70px;
  width: 100%;
  border: none;
  float: left;
  font-size: 13px;
  background: #494c62;
  padding-left: 15px;
}
.row.site-header .header-search i {
  z-index: 9;
  color: #696d87;
  font-size: 20px;
  margin-top: 25px;
  margin-left: -35px;
}
.row.site-header .header-search .list.history {
  top: 70px;
  left: 0;
  position: absolute;
  width: 375px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  height: 340px;
  z-index: 9;
}
.row.site-header .header-search .list.history ul.list-group {
  width: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.row.site-header .header-search .list.history ul.list-group .list-group-item {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.row.site-header .header-search .list.history ul.list-group .list-group-item .user {
  margin-top: 0px;
  color: #888da8;
  font-weight: normal;
  width: 20%;
  height: 20%;
  position: relative;
  margin: 13px 18px;
}
.row.site-header .header-search .list.history ul.list-group .list-group-item .user img {
  text-align: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  vertical-align: middle;
  border-style: none;
}
.row.site-header .header-search .list.history ul.list-group .list-group-item .name > a {
  width: 100%;
  height: 70px;
  color: #515365;
  font-size: 12px;
  font-weight: bold;
  padding-top: 27px;
  padding-left: 15px;
  text-decoration: none;
  background-color: transparent;
}
.row.site-header .header-search .list.history ul.list-group .list-group-item .name > a strong.username {
  margin-top: -10px;
  font-size: 13px;
  color: #515365;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.row.site-header .header-search .list.history ul.list-group .list-group-item .name p.status.friend {
  margin-top: 0px;
  color: #888da8;
  font-weight: 500;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-top: 0px;
}
.row.site-header .header-search .list.history::after {
  opacity: 0;
  visibility: hidden;
  content: "";
  position: absolute;
  top: -20px;
  width: 0;
  height: 0;
  border: 11px transparent solid;
  border-bottom-color: white;
  right: 180px;
}
@media only screen and (max-width: 992px) {
  .row.site-header .header-search .list {
    margin-left: -75px;
  }
}
.row.site-header a.find:hover {
  color: #a4312e;
  text-decoration: none;
}
.row.site-header a.find {
  width: 100%;
  height: 70px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding-top: 27px;
  padding-left: 15px;
  text-decoration: none;
  background-color: transparent;
}
.row.site-header .inform:hover .list {
  opacity: 1;
  visibility: visible;
}
.row.site-header .inform {
  width: 70px;
  height: 70px;
  position: relative;
}
.row.site-header .inform i {
  text-align: center;
  position: relative;
  color: #ffffff;
  font-size: 23px;
  margin: 22px 22px;
}
.row.site-header .inform .inform-icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: -55px;
  margin-left: 35px;
  position: absolute;
}
.row.site-header .inform .inform-icon p {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}
.row.site-header .inform .list {
  position: absolute;
  top: 60px;
  left: -150px;
  width: 375px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  height: 340px;
  z-index: 9;
}
.row.site-header .inform .list ul.list-group li.list-group-item:hover {
  background: #eef3f7;
}
.row.site-header .inform .list ul.list-group li.list-group-item:hover .name a {
  text-decoration: none;
}
.row.site-header .inform .list ul.list-group li.list-group-item-foot:hover {
  background: none;
}
.row.site-header .inform .list ul.list-group li.list-group-item-foot:hover .name a {
  text-decoration: none;
}
.row.site-header .inform .list ul.list-group li.list-group-item.list-group-item-edit:hover {
  background: #ffffff;
}
.row.site-header .inform .list ul.list-group li.list-group-item.list-group-item-edit {
  display: grid;
  grid-template-columns: 30% 45% 25% !important;
  text-align: right;
  height: 45px !important;
}
.row.site-header .inform .list ul.list-group li.list-group-item.list-group-item-edit .name a {
  width: 100%;
  height: 70px;
  color: #515365;
  font-size: 12px;
  font-weight: 700;
  padding-top: 27px;
  padding-left: 15px;
}
.row.site-header .inform .list ul.list-group li.list-group-item.list-group-item-edit .name a p.username {
  margin-top: -20px;
  font-size: 11px;
  color: #515365;
  text-transform: uppercase;
}
.row.site-header .inform .list ul.list-group li.list-group-item {
  display: grid;
  grid-template-columns: 20% 55% 10% 10% !important;
  margin-top: 0;
  height: 70px;
}
.row.site-header .inform .list ul.list-group li.list-group-item .user {
  margin-top: 0px;
  color: #888da8;
  font-weight: normal !important;
  width: 20%;
  height: 20%;
  position: relative;
}
.row.site-header .inform .list ul.list-group li.list-group-item .user img {
  text-align: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
}
.row.site-header .inform .list ul.list-group li.list-group-item .name a {
  width: 100%;
  color: #515365;
  font-size: 12px;
  padding-left: 15px;
}
.row.site-header .inform .list ul.list-group li.list-group-item .name a p.notify.username, .row.site-header .inform .list ul.list-group li.list-group-item .name a strong.username {
  margin-top: -25px;
  font-size: 13px;
  color: #515365;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: 700;
}
.row.site-header .inform .list ul.list-group li.list-group-item .name a p.notify.username span.notify-content, .row.site-header .inform .list ul.list-group li.list-group-item .name a strong.username span.notify-content {
  color: #888da8;
  font-size: 13px;
  font-weight: normal;
}
.row.site-header .inform .list ul.list-group li.list-group-item p.status {
  margin-top: 0px;
  color: #888da8;
  font-weight: normal !important;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: 600;
}
.row.site-header .inform .list ul.list-group li.list-group-item i {
  width: 90%;
  height: 90%;
  margin-top: 10px;
  font-size: 20px;
}
.row.site-header .inform .list ul.list-group li.list-group-item-foot {
  display: block;
  text-align: center;
  height: 45px !important;
}
.row.site-header .inform .list ul.list-group li.list-group-item-foot .name a {
  width: 100%;
  height: 70px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding-top: 27px;
  padding-left: 15px;
}
.row.site-header .inform .list ul.list-group li.list-group-item-foot .name a strong.username {
  margin-top: -25px;
  font-size: 13px;
  color: #ffffff;
}
.row.site-header .inform .list:after {
  content: "";
  position: absolute;
  top: -20px;
  width: 0;
  height: 0;
  border: 11px transparent solid;
  border-bottom-color: white;
  right: 180px;
}
.row.site-header .inform.seek {
  opacity: 0;
  visibility: hidden;
}
.row.site-header .user-information .user:hover .list {
  opacity: 1;
  visibility: visible;
}
.row.site-header .user-information {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  margin-top: 3px;
  height: 70px;
}
.row.site-header .user-information .user {
  width: 20%;
  height: 20%;
  position: relative;
  margin: 13px 18px;
}
.row.site-header .user-information .user img {
  text-align: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  vertical-align: middle;
  border-style: none;
}
.row.site-header .user-information .user .status-busy {
  background: #ff4f60;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 13;
  position: absolute;
  top: 0;
  left: 0;
}
.row.site-header .user-information .user .status-online {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #32e4cd;
  z-index: 13;
  position: absolute;
  top: 0;
  left: 0;
}
.row.site-header .user-information .user .list {
  margin-top: -15px;
  width: 250px;
  margin-left: 100px;
  position: absolute;
  top: 60px;
  left: -150px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  height: 340px;
  z-index: 9;
}
.row.site-header .user-information .user .list ul.list-group {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
}
.row.site-header .user-information .user .list ul.list-group li.acc-infor {
  display: inline-flex;
  border: none;
  height: 50px;
  text-align: center;
}
.row.site-header .user-information .user .list ul.list-group li.acc-infor .name a {
  width: 100%;
  height: 70px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding-top: 27px;
  padding-left: 15px;
  text-decoration: none;
  background-color: transparent;
}
.row.site-header .user-information .user .list ul.list-group li.acc-infor .name a p.username {
  margin-top: -20px;
  font-size: 11px;
  color: #696d87;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.row.site-header .user-information .user .list ul.list-group li.acc-infor .name a strong.username {
  color: #696d87;
  font-size: 12px;
  margin-top: -25px;
  margin-left: 10px;
  font-weight: 700;
}
.row.site-header .user-information .user .list ul.list-group li.acc-infor .name a strong.username.status-01 {
  color: #696d87;
  margin-left: 32px;
  font-size: 12px;
  margin-top: -25px;
  font-weight: 700;
}
.row.site-header .user-information .user .list ul.list-group li.acc-infor i {
  width: 23px;
  height: 23px;
  margin-left: 0px;
  color: #888da8;
}
.row.site-header .user-information .user .list ul.list-group li.acc-infor .status-online {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #32e4cd;
  z-index: 13;
  position: absolute;
  margin: 17px 25px;
}
.row.site-header .user-information .user .list ul.list-group li.acc-infor .status-busy {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff4f60;
  z-index: 13;
  position: absolute;
  margin: 17px 25px;
}
.row.site-header .user-information .name:hover a strong {
  text-decoration: none !important;
  color: #a4312e;
  -webkit-line-clamp: 2;
}
.row.site-header .user-information .name > a {
  width: 100%;
  height: 70px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding-top: 27px;
  padding-left: 15px;
  text-decoration: none;
}
.row.site-header .user-information .name > a strong {
  color: #ffffff;
  font-size: 12px;
  margin-top: -5px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-transform: capitalize;
}
.row.site-header .user-information .more > i {
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}
.inform-res {
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.inform-res .inform-res-tittle {
  line-height: 1;
  border-bottom: 1px solid #e6ecf5;
  border-top: 1px solid #e6ecf5;
  display: table !important;
  width: 100%;
  position: relative;
  border-radius: 5px 5px 0 0;
  margin-top: 70px;
  padding: 10px 25px;
}
.inform-res .inform-res-tittle h6, .inform-res .inform-res-tittle a {
  font-size: 13px;
  text-transform: uppercase;
  fill: #9a9fbf;
  color: #696d87;
  display: table-cell;
  vertical-align: middle;
}
.inform-res ul.inform-res-friend li {
  padding: 5px;
  border-bottom: 1px solid #e6ecf5;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  margin-left: -35px;
}
.inform-res ul.inform-res-friend li .author-avatar {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
}
.inform-res ul.inform-res-friend li .author-avatar img {
  border-radius: 100%;
  overflow: hidden;
  vertical-align: unset;
  width: 34px;
  height: 34px;
  display: inline-block;
}
.inform-res ul.inform-res-friend li .notify-request:hover a {
  text-decoration: none;
}
.inform-res ul.inform-res-friend li .notify-request {
  padding-left: 15px;
}
.inform-res ul.inform-res-friend li .notify-request .h6.friend-name {
  margin: 0 auto;
  font-weight: 700;
  color: #515365;
  font-size: 13px;
  display: block;
}
.inform-res ul.inform-res-friend li .notify-request .h6.friend-name span {
  font-size: 12px;
  color: #888da8;
  font-weight: normal;
}
.inform-res ul.inform-res-friend li .notify-request span.mutual-friend {
  font-size: 12px;
  color: #888da8;
}
.inform-res ul.inform-res-friend li .notify-request span.last-message {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-transform: none !important;
}
.inform-res ul.inform-res-friend li .notify-icon {
  margin-left: auto;
}
.inform-res ul.inform-res-friend li .notify-icon i {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}
.inform-res .inform-res-footer {
  position: absolute;
  margin-top: -20px;
  width: 100%;
  z-index: 2;
  padding: 10px;
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
.seek-form {
  margin-top: 70px;
  height: 70px;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.seek-form .seek-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #494c62;
  color: #9a9fbf;
  outline: 0;
}
.seek-form .seek-input:focus ~ .list-seek {
  opacity: 1;
  visibility: visible;
}
.seek-form .history.list-seek {
  width: 100%;
  margin-top: 0px;
  opacity: 0;
  visibility: hidden;
}
.seek-form .history.list-seek ul.list-group.list-group-seek {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.seek-form .history.list-seek ul.list-group.list-group-seek li.list-group-item:hover {
  background: #eef3f7;
}
.seek-form .history.list-seek ul.list-group.list-group-seek li.list-group-item {
  width: 100%;
  display: grid;
  grid-template-columns: 70px 300px !important;
  padding: 0;
}
.seek-form .history.list-seek ul.list-group.list-group-seek li.list-group-item .user {
  margin-top: 0px;
  color: #888da8;
  font-weight: normal !important;
  width: 20%;
  height: 20%;
  position: relative;
  margin: 13px 18px;
}
.seek-form .history.list-seek ul.list-group.list-group-seek li.list-group-item .user img {
  text-align: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}
.seek-form .history.list-seek ul.list-group.list-group-seek li.list-group-item .name:hover p.notify {
  color: #a4312e;
  -webkit-line-clamp: 3;
}
.seek-form .history.list-seek ul.list-group.list-group-seek li.list-group-item .name a strong.username {
  margin-top: -25px;
  font-size: 13px;
  color: #515365;
  font-size: 12px;
  margin-top: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.seek-form .history.list-seek ul.list-group.list-group-seek li.list-group-item .name p.status.friend {
  color: #515365;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.seek-form::after {
  border: none;
}
.hiden-right-sidebar {
  opacity: 0;
}
.close-right {
  animation: close-right 0.7s forwards;
}
.stop {
  animation: none !important;
}
.hiden-left-sidebar {
  opacity: 0;
}
.close-left {
  animation: close-left 0.7s forwards;
}
@keyframes close-left-small {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.close-left-small {
  animation: close-left-small 0.7s forwards;
}
@keyframes open-left-small {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0px);
  }
}
.open-left-small {
  animation: open-left-small 0.7s forwards;
}
@keyframes close-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.close-left {
  animation: close-left 0.7s forwards;
}
@keyframes open-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0px);
  }
}
.open-left {
  animation: open-left 0.7s forwards;
}
@keyframes hien-icon-item {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes close-right-small {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.close-right-small {
  animation: close-right-small 0.7s forwards;
}
@keyframes open-right-small {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0px);
  }
}
.open-right-small {
  animation: open-right-small 0.7s forwards;
}
@keyframes close-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.close-right {
  animation: close-right 0.7s forwards;
}
@keyframes open-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0px);
  }
}
.open-right {
  animation: open-right 0.7s forwards;
}
.hiden-right-sidebar {
  opacity: 0;
}
@media only screen and (max-width: 1200px) {
  .header-search {
    width: 300px;
  }
  .row.site-header .header-search .list.history .list-group {
    width: 80%;
    padding-left: 0px;
  }
}
@media only screen and (max-width: 992px) {
  .row.site-header {
    display: grid;
    grid-template-columns: 4% 44% 20% 8% 8% 8% 0% 8%;
  }
  .row.site-header .header-search {
    width: 300px;
  }
  .row.site-header .header-search .list.history ul.list-group {
    width: 100%;
    padding-left: 70px;
  }
  .row.site-header .header-search .list.history ul.list-group .list-group-item {
    grid-template-columns: 30% 70%;
  }
  .row.site-header .user-information .more {
    opacity: 0;
    visibility: hidden;
  }
  .row.site-header .user-information .user .list {
    margin-left: 15px;
  }
  .row.site-header .user-information .user .list::after {
    right: 95px;
  }
  .row.site-header .page-title {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (max-width: 768px) {
  .row.site-header {
    display: grid;
    grid-template-columns: 0% 0% 10% 22% 22% 22% 22% 0%;
  }
  .row.site-header .find, .row.site-header .user-information, .row.site-header .page-title, .row.site-header .header-search {
    opacity: 0;
    visibility: hidden;
  }
  .row.site-header .inform.seek {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .site-header i.find {
    opacity: 1;
    visibility: visible;
  }
  .left-menu-small {
    opacity: 0;
    visibility: hidden;
  }
  .right-sidebar-small {
    background: transparent;
    z-index: 15;
  }
  .right-sidebar-small .right-edit-small.right-edit-small-01 {
    z-index: 15;
    visibility: visible;
    opacity: 1;
    display: inherit;
  }
  .right-sidebar-small .right-menu-small, .right-sidebar-small .right-edit-small, .right-sidebar-small .chat-open-small {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  .hien-res {
    opacity: 1;
    visibility: visible;
    display: block;
  }
  .inform .list {
    visibility: hidden;
    opacity: 0;
    display: none !important;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row #page-contents {
  position: relative;
}
.row .row.merged20 > div {
  padding: 0 10px;
}
.row .row.merged20 {
  margin-right: -10px;
  margin-left: -10px;
}
.row .row.merged20 .user-profile {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}
.row .row.merged20 .user-profile figure {
  display: inline-block;
  margin: 0;
  position: relative;
  width: 100%;
}
.row .row.merged20 .user-profile figure .edit-pp {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  left: 10px;
  line-height: 38px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 10px;
  transform: scale(0);
  transition: all 0.2s linear 0s;
  width: 40px;
}
.row .row.merged20 .user-profile figure .edit-pp .fileContainer {
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 23px;
  height: 23px;
}
.row .row.merged20 .user-profile figure .edit-pp .fileContainer i {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  color: #ffffff;
}
.row .row.merged20 .user-profile figure .edit-pp .fileContainer [type=file] {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.row .row.merged20 .user-profile figure .edit-pp label {
  margin-bottom: 8px;
}
.row .row.merged20 .user-profile figure img {
  display: inline-block;
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: 500px;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  object-fit: cover;
}
.row .row.merged20 .user-profile figure .profile-controls {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 7px 0 0 7px;
  bottom: 20px;
  display: inline-block;
  list-style: outside none none;
  margin: 0;
  padding: 7px 14px;
  position: absolute;
  right: 0;
  z-index: 1;
}
.row .row.merged20 .user-profile figure .profile-controls li:first-child > a {
  background: #fa6342;
}
.row .row.merged20 .user-profile figure .profile-controls li:nth-child(2) > a {
  background: #7750f8;
}
.row .row.merged20 .user-profile figure .profile-controls li:nth-child(3) > a {
  background: #23d2e2;
}
.row .row.merged20 .user-profile figure .profile-controls li:nth-child(4) > div {
  background: #857ec3;
}
.row .row.merged20 .user-profile figure .profile-controls li {
  color: #fff;
  display: inline-block;
  margin: 0 2px;
  position: relative;
  vertical-align: middle;
}
.row .row.merged20 .user-profile figure .profile-controls li a {
  background: #888da8;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  font-size: 16px;
  outline: none;
  text-decoration: none;
}
.row .row.merged20 .user-profile figure .profile-controls li a i {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  font-size: inherit;
  margin: 0;
  color: #ffffff;
}
.row .row.merged20 .user-profile figure .profile-controls li div.edit-seting {
  border-radius: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  font-size: 16px;
}
.row .row.merged20 .user-profile figure .profile-controls li div.edit-seting i {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  font-size: inherit;
  margin: 0;
  color: #ffffff;
}
.row .row.merged20 .user-profile figure .profile-controls li div.edit-seting ul.more-dropdown {
  background: #ffffff !important;
  border-radius: 4px;
  color: #858aa5;
  right: 0;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 110%;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: 150px;
  z-index: 1;
  text-align: left;
  box-shadow: 1px 1px 5px #00000030;
}
.row .row.merged20 .user-profile figure .profile-controls li div.edit-seting ul.more-dropdown li {
  display: inline-block;
  width: 100%;
}
.row .row.merged20 .user-profile figure .profile-controls li div.edit-seting ul.more-dropdown li a {
  display: inline-block;
  padding: 0 15px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  background: none;
  color: #858aa5;
  outline: none;
  text-decoration: none;
  text-align: left;
  font-size: 12px;
}
.row .row.merged20 .user-profile figure .profile-controls li .edit-seting:hover .more-dropdown {
  transform: scale(1);
  visibility: visible;
}
.row .row.merged20 .user-profile figure:hover .edit-pp {
  opacity: 1;
  transform: scale(1);
}
.row .row.merged20 .user-profile .profile-section {
  background: #ffffff;
  display: inline-block;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
.row .row.merged20 .user-profile .profile-section .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row .row.merged20 .user-profile .profile-section .row .profile-author {
  display: inline-block;
  margin-top: -175px;
  margin-left: 10px;
  text-align: center;
  width: 100%;
}
.row .row.merged20 .user-profile .profile-section .row .profile-author .profile-author-thumb:hover .edit-dp {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.row .row.merged20 .user-profile .profile-section .row .profile-author .profile-author-thumb {
  display: inline-block;
  position: relative;
}
.row .row.merged20 .user-profile .profile-section .row .profile-author .profile-author-thumb img {
  border: 3px solid #fff;
  border-radius: 100%;
  max-width: 155px;
  min-width: 155px;
  width: 155px;
  display: inline-block;
  height: 155px;
  object-fit: cover;
}
.row .row.merged20 .user-profile .profile-section .row .profile-author .profile-author-thumb .edit-dp {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  right: 10px;
  text-align: center;
  transform: scale(0);
  transition: all 0.2s linear 0s;
  visibility: hidden;
  width: 40px;
}
.row .row.merged20 .user-profile .profile-section .row .profile-author .profile-author-thumb .edit-dp label.fileContainer {
  color: #222;
  margin: 0;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}
.row .row.merged20 .user-profile .profile-section .row .profile-author .profile-author-thumb .edit-dp label.fileContainer i {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  color: #ffffff;
}
.row .row.merged20 .user-profile .profile-section .row .profile-author .profile-author-thumb .edit-dp label.fileContainer [type=file] {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.row .row.merged20 .user-profile .profile-section .row .profile-author .author-content {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
}
.row .row.merged20 .user-profile .profile-section .row .profile-author .author-content .author-name {
  color: #333;
  font-size: 20px;
  font-weight: 500;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu {
  display: inline-block;
  line-height: 65px;
  list-style: outside none none;
  margin-bottom: 0;
  padding: 0 15px;
  width: 70%;
  padding-right: 0;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li:last-child:hover a {
  color: #515365;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li:last-child:hover .more ul.more-dropdown {
  visibility: visible;
  transform: scale(1);
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li:last-child:hover .more::before {
  background: #c4c4c58a;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li:hover a {
  color: #d82c2c;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li {
  display: inline-block;
  margin: 0 22px;
  vertical-align: middle;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li a.active {
  color: #d82c2c;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li a {
  color: #515365;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li a:hover {
  outline: none;
  text-decoration: none;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li a.active::after {
  border-bottom: 10px solid #d82c2c;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li .more {
  display: inline-block;
  float: none;
  position: relative;
  cursor: pointer;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li .more i {
  font-size: 18px;
  color: #515365;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li .more ul.more-dropdown {
  background: #ffffff;
  left: 50%;
  line-height: initial;
  list-style: outside none none;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  transform: translate(-50%) scale(0);
  visibility: hidden;
  width: 150px;
  z-index: 10;
  transition: all 0.2s linear 0s;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #00000030;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li .more ul.more-dropdown li {
  display: inline-block;
  font-size: 13px;
  width: 100%;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li .more ul.more-dropdown li a {
  display: inline-block;
  padding: 10px 12px;
  transition: all 0.2s linear 0s;
  width: 100%;
}
.row .row.merged20 .user-profile .profile-section .row .profile-menu li .more::before {
  background: #98989994;
  border-radius: 100%;
  content: "";
  height: 35px;
  left: 50%;
  position: absolute;
  top: 49%;
  transform: translate(-50%, -50%);
  transition: all 0.2s linear 0s;
  width: 35px;
}
.row .row.merged20 .sidebar.left {
  float: right;
  width: 100%;
  position: static;
  margin: 0 auto;
}
.row .row.merged20 .sidebar.left .widget {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ede9e9;
  border-radius: 6px;
  overflow: hidden;
}
.row .row.merged20 .sidebar.left .widget .bluesh::before {
  background: #88ded3;
  /*#7b59c1 #f1e09b*/
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  border-radius: 6px;
}
.row .row.merged20 .sidebar.left .widget .low-opacity::before {
  opacity: 0.75;
}
.row .row.merged20 .sidebar.left .widget .weather-widget {
  float: left;
  min-height: 300px;
  text-align: center;
  width: 100%;
  z-index: 0;
  background-size: cover;
  position: relative;
}
.row .row.merged20 .sidebar.left .widget .weather-widget .bg-image {
  z-index: 0;
  float: left;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.row .row.merged20 .sidebar.left .widget .refresh-content {
  display: inline-block;
  padding-right: 10px;
  padding-top: 7px;
  text-align: right;
  width: 100%;
}
.row .row.merged20 .sidebar.left .widget .refresh-content i {
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  z-index: 1;
}
.row .row.merged20 .sidebar.left .widget .weather-week {
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 2;
}
.row .row.merged20 .sidebar.left .widget .weather-week .icon i {
  position: relative;
  display: inline-block;
  font-size: 50px;
  color: #ffffff;
}
.row .row.merged20 .sidebar.left .widget .weather-infos {
  float: left;
  padding: 0 40px;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 2;
}
.row .row.merged20 .sidebar.left .widget .weather-infos .weather-tem {
  color: #ffffff;
  float: left;
  font-size: 31px;
  margin-right: 33px;
  position: relative;
}
.row .row.merged20 .sidebar.left .widget .weather-infos h3 {
  color: #ffffff;
  float: left;
  font-size: 20px;
  margin: 0;
}
.row .row.merged20 .sidebar.left .widget .weather-infos h3 i {
  display: table;
  font-size: 13px;
  font-style: normal;
  margin-top: 6px;
  margin-left: 0;
  color: #ffffff;
}
.row .row.merged20 .sidebar.left .widget .weather-infos .weather-date {
  height: 60px;
  position: absolute;
  right: 0;
  width: 60px;
}
.row .row.merged20 .sidebar.left .widget .weather-infos .weather-date span {
  border-radius: 10px 0 0 10px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: initial;
  padding: 14px;
  text-align: center;
  width: 100%;
  background: #d82c2c;
}
.row .row.merged20 .sidebar.left .widget .weather-infos .weather-date span strong {
  float: left;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 13px;
  margin-top: 3px;
  width: 100%;
}
.row .row.merged20 .sidebar.left .widget .monthly-weather {
  display: inline-block;
  margin: 20px 0;
  position: relative;
  width: 100%;
  z-index: 2;
}
.row .row.merged20 .sidebar.left .widget .monthly-weather ul {
  background: #ffffff3a;
  display: inline-block;
  list-style: outside none none;
  margin: 0;
  padding: 10px;
  width: 100%;
  line-height: initial;
}
.row .row.merged20 .sidebar.left .widget .monthly-weather ul li {
  color: #fff;
  display: inline-block;
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 0;
  vertical-align: middle;
  width: 12%;
}
.row .row.merged20 .sidebar.left .widget .monthly-weather ul li span {
  display: inline-block;
  padding-bottom: 2px;
  width: 100%;
}
.row .row.merged20 .sidebar.left .widget .monthly-weather ul li a {
  display: inline-block;
}
.row .row.merged20 .sidebar.left .widget .monthly-weather ul li a i {
  font-size: 11px;
  color: #ffffff;
  margin: 0;
}
.row .row.merged20 .sidebar.left .widget .monthly-weather ul li em {
  display: inline-block;
  width: 100%;
  font-style: normal;
}
.row .row.merged20 .sidebar.left .advertisment-box {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.row .row.merged20 .sidebar.left .advertisment-box figure {
  margin-bottom: 0;
}
.row .row.merged20 .sidebar.left .advertisment-box figure a {
  display: inline-block;
  width: 100%;
  color: inherit;
  text-decoration: none;
}
.row .row.merged20 .sidebar.left .advertisment-box figure a img {
  display: inline-block;
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
.row .row.merged20 .sidebar.right {
  float: left;
  width: 100%;
  position: static;
  margin: 0 auto;
}
.row .row.merged20 .sidebar.right .widget {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ede9e9;
  border-radius: 6px;
}
.row .row.merged20 .sidebar.right .widget h4.widget-title {
  border-bottom: 1px solid #e6ecf5;
  color: #515365;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 15px 20px;
  position: relative;
  text-transform: capitalize;
  width: 100%;
}
.row .row.merged20 .sidebar.right .widget ul.short-profile {
  display: inline-block;
  list-style: outside none none;
  margin-bottom: 0;
  padding: 0 20px 20px;
  width: 100%;
}
.row .row.merged20 .sidebar.right .widget ul.short-profile li {
  display: inline-block;
  margin-bottom: 14px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
}
.row .row.merged20 .sidebar.right .widget ul.short-profile li span {
  color: #515365;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
  width: 100%;
}
.row .row.merged20 .sidebar.right .widget ul.short-profile li p {
  margin-top: 0;
  line-height: 22px;
  font-size: 13px;
  margin-bottom: 0;
  color: #959ab5;
}
.row .row.merged20 .sidebar.right .widget ul.short-profile li:last-child {
  margin-bottom: 0;
  border-bottom: 0 none;
}
.row .row.merged20 .sidebar.right .widget.term-links.stick-widget {
  margin-bottom: 0;
  padding: 15px;
  display: inline-block;
  position: relative;
  width: 100%;
  background: #fff;
  border: 1px solid #ede9e9;
  border-radius: 6px;
}
.row .row.merged20 .sidebar.right .widget.term-links.stick-widget ul {
  padding: 0;
  display: inline-block;
  list-style: outside none none;
  margin-bottom: 0;
  width: 100%;
}
.row .row.merged20 .sidebar.right .widget.term-links.stick-widget ul li {
  display: inline;
  margin-bottom: 14px;
  position: relative;
  width: 100%;
}
.row .row.merged20 .sidebar.right .widget.term-links.stick-widget ul li a {
  padding: 3px 10px;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  text-transform: capitalize;
  vertical-align: top;
  color: #757a95;
}
.row .row.merged20 .sidebar.right .widget.term-links.stick-widget ul li a:hover {
  outline: none;
  text-decoration: none;
}
.row .row.merged20 .sidebar.right .widget.term-links.stick-widget p {
  color: #959ab5;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 15px;
  text-align: center;
  width: 100%;
  letter-spacing: 0.1px;
  line-height: 26px;
}

.central-meta .user-post .friend-info .coment-area .we-comet li .we-comment .inline-itms {
  display: inline-block;
  width: 100%;
}
.central-meta .user-post .friend-info .coment-area .we-comet li .we-comment .inline-itms a {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  color: #888da8;
}
.central-meta .user-post .friend-info .coment-area .we-comet li .we-comment .inline-itms a i {
  font-size: 20px;
  margin: 18px 7px;
}
.central-meta .user-post .friend-info .coment-area .we-comet li .we-comment .inline-itms a span {
  font-size: 11px;
}
.central-meta .user-post .friend-info .coment-area .we-comet li .we-comment .inline-itms a:hover, .central-meta .user-post .friend-info .coment-area .we-comet li .we-comment .inline-itms a:hover i {
  color: #d82c2c;
}
.central-meta .user-post .friend-info .coment-area .we-comet li a.showmorecomet {
  display: table;
  font-size: 12px;
  margin: 0 auto;
  text-transform: none;
  font-weight: 500;
  color: #d82c2c;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .comet-avatar {
  display: inline-block;
  max-width: 30px;
  vertical-align: top;
  width: 30px;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box {
  display: inline-block;
  padding-left: 15px;
  position: relative;
  width: 90%;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box form {
  display: block;
  margin-top: 0em;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box form textarea {
  background: #edf2f6;
  border-color: transparent;
  border-radius: 5px;
  color: inherit;
  font-size: 13px;
  height: 80px;
  line-height: 16px;
  width: 100%;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box form textarea:focus {
  outline: none;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box form .add-smiles {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  line-height: 10px;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box form .add-smiles .uploadimage {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box form .add-smiles .uploadimage i {
  font-size: 16px;
  position: relative;
  top: 1px;
  color: #888da8;
  right: 20px;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box form .add-smiles .uploadimage .fileContainer {
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box form .add-smiles .uploadimage .fileContainer [type="file"] {
  left: -40px;
  top: -5px;
  width: 20px;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box form .add-smiles .uploadimage .fileContainer [type=file] {
  cursor: pointer;
  display: block;
  opacity: 0;
  position: absolute;
  right: 0px;
  text-align: right;
  overflow: hidden;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box form .button-post-comt button {
  top: 40%;
  position: absolute;
  right: 5px;
  width: 5px;
  height: 15px;
  opacity: 0;
  z-index: 1;
}
.central-meta .user-post .friend-info .coment-area .we-comet .post-comment .post-comt-box form .button-post-comt i {
  font-size: 16px;
  position: absolute;
  top: 40%;
  right: 5px;
  margin: 0px 5px;
  color: #888da8;
}
.central-meta .user-post .friend-info .coment-area ul {
  margin-top: 0;
}
.btn-view {
  background: #ffffff;
  border-radius: 100%;
  border: none;
  height: 50px;
  position: relative;
  margin: 0 auto 0;
  width: 50px;
  transition: all 0.2s linear 0s;
  z-index: 77;
  display: block;
  box-shadow: 1px 1px 5px #00000030;
}
.btn-view i {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: -17% -24px;
  font-size: 20px;
  color: #9a9fbf;
}
.btn-hide {
  background: #ffffff;
  border-radius: 100%;
  border: none;
  height: 50px;
  position: relative;
  margin: 0 45% 0;
  width: 50px;
  transition: all 0.2s linear 0s;
  z-index: 77;
  display: none;
  box-shadow: 1px 1px 5px #00000030;
}
.btn-hide i {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: -25% -23.5px;
  color: #9a9fbf;
  font-size: 20px;
}
.btn-hide:focus, .btn-view:focus {
  outline: none;
}
.btn-hide:hover i, .btn-view:hover i {
  transition: all 0.4s linear 0s;
  transform: rotateY(360deg);
}
.popup-wraper2.active, .popup-wraper3.active, .popup-wraper4.active {
  opacity: 1;
  visibility: visible;
}
.popup-wraper2 {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear 0s;
}
.popup-wraper2 .popup.post-sharing {
  width: 450px;
  background: #ffffff;
  border-radius: 5px;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup-wraper2 .popup.post-sharing .popup-closed {
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  right: 18px;
  top: 15px;
  z-index: 9;
}
.popup-wraper2 .popup.post-sharing .popup-closed i {
  line-height: initial;
  font-size: 20px;
  color: #9a9fbf;
}
.popup-wraper2 .popup.post-sharing .popup-meta {
  display: inline-block;
  width: 100%;
}
.popup-wraper2 .popup.post-sharing .popup-meta .popup-head {
  border-bottom: 1px solid #dedede;
  display: inline-block;
  padding-bottom: 25px;
  width: 100%;
}
.popup-wraper2 .popup.post-sharing .popup-meta .post-comt-box {
  padding-left: 0;
  width: 100%;
  display: inline-block;
  position: relative;
}
.popup-wraper2 .popup.post-sharing .popup-meta .post-comt-box textarea {
  margin-bottom: 10px;
  width: 100%;
  background: #edf2f6 none repeat scroll 0 0;
  border-color: transparent;
  border-radius: 5px;
  color: inherit;
  font-size: 13px;
  height: 80px;
  line-height: 16px;
  padding: 10px;
  border-bottom: 0;
  resize: none;
  overflow: auto;
  margin: 0;
  font-family: inherit;
}
.popup-wraper2 .popup.post-sharing .popup-meta .post-comt-box textarea:active, .popup-wraper2 .popup.post-sharing .popup-meta .post-comt-box textarea:focus {
  outline: none;
}
.popup-wraper2 .popup.post-sharing .popup-meta figure {
  margin: 0 0 16px;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 230px;
}
.popup-wraper2 .popup.post-sharing .popup-meta figure img {
  height: 100%;
  width: 100%;
}
.popup-wraper2 .popup.post-sharing .popup-meta .friend-info {
  display: inline-block;
  position: relative;
  width: 100%;
}
.popup-wraper2 .popup.post-sharing .popup-meta .friend-info figure {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 40px !important;
  height: 40px !important;
  overflow: hidden;
}
.popup-wraper2 .popup.post-sharing .popup-meta .friend-info figure img {
  border-radius: 100%;
  object-fit: cover;
}
.popup-wraper2 .popup.post-sharing .popup-meta .friend-info .friend-name {
  width: 89%;
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}
.popup-wraper2 .popup.post-sharing .popup-meta .friend-info .friend-name ins {
  display: inline-block;
  width: 90%;
  font-size: 12px;
  text-decoration: none;
}
.popup-wraper2 .popup.post-sharing .popup-meta .friend-info .friend-name ins a {
  font-size: 13.5px;
  font-weight: 500;
  color: #d82c2c;
  outline: none;
  text-decoration: none;
}
.popup-wraper2 .popup.post-sharing .popup-meta .friend-info .friend-name span {
  color: #999;
  float: left;
  font-size: 12px;
  text-transform: capitalize;
  width: 90%;
}
.popup-wraper2 .popup.post-sharing .popup-meta .we-video-info {
  padding-bottom: 0;
  border-top: 1px solid #ede9e9;
  float: left;
  padding: 8px 0 0;
  position: relative;
  width: 100%;
  z-index: 0;
}
.popup-wraper2 .popup.post-sharing .popup-meta .we-video-info button.main-btn.color {
  color: #ffffff;
  background: #d82c2c;
  border: medium none;
  border-radius: 30px;
  float: right;
  font-size: 14px;
  margin: 0 3px;
  padding: 5px 20px;
  transition: all 0.2s linear 0s;
}
.popup-wraper2 .popup.post-sharing .popup-meta .we-video-info button.main-btn.color:active, .popup-wraper2 .popup.post-sharing .popup-meta .we-video-info button.main-btn.color:focus, .popup-wraper2 .popup.post-sharing .popup-meta .we-video-info button.main-btn.cancel:active, .popup-wraper2 .popup.post-sharing .popup-meta .we-video-info button.main-btn.cancel:focus {
  outline: none;
}
.popup-wraper2 .popup.post-sharing .popup-meta .we-video-info button.main-btn.cancel {
  background: #888da8;
  border: medium none;
  border-radius: 30px;
  color: #fff;
  float: right;
  font-size: 14px;
  margin: 0 3px;
  padding: 5px 20px;
  transition: all 0.2s linear 0s;
}
.popup-wraper2 .popup::after {
  color: #d82c2c;
  border-bottom: 5px solid;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 1;
  position: absolute;
  width: 100%;
}
.popup-wraper3 {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear 0s;
}
.popup-wraper3 .popup {
  width: 450px;
  background: #ffffff;
  border-radius: 5px;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup-wraper3 .popup .popup-closed {
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  right: 18px;
  top: 15px;
  z-index: 9;
}
.popup-wraper3 .popup .popup-closed i {
  line-height: initial;
  font-size: 20px;
  color: #9a9fbf;
}
.popup-wraper3 .popup .popup-meta {
  display: inline-block;
  width: 100%;
}
.popup-wraper3 .popup .popup-meta .popup-head {
  border-bottom: 1px solid #dedede;
  display: inline-block;
  padding-bottom: 10px;
  width: 100%;
}
.popup-wraper3 .popup .popup-meta .popup-head h5 {
  color: #515365;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  width: 100%;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta {
  display: inline-block;
  width: 100%;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta span {
  display: inline-block;
  margin-top: 10px;
  color: #d82c2c;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form {
  display: inline-block;
  position: relative;
  width: 100%;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form .form-radio {
  margin: 0;
  display: inline-block;
  width: 100%;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form .form-radio .radio {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 30px;
  margin-top: 0;
  vertical-align: middle;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form .form-radio .radio label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  color: #757a95;
  font-size: 13.4px;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form .form-radio .radio label input {
  width: auto;
  background: #edf2f6 none repeat scroll 0 0;
  border-radius: 4px;
  font-size: 13px;
  padding: 14px 15px;
  color: #535165;
  border: 1px solid #e4e4e4;
  margin-right: 5px;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form .form-radio .radio label i.check-box {
  position: absolute;
  top: -4px;
  left: -4px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  color: #999;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form label {
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 16px;
  text-transform: capitalize;
  width: 100%;
  color: #515365;
  display: inline-block;
  font-weight: 500;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form textarea {
  margin-bottom: 30px;
  width: 100%;
  background: #edf2f6 none repeat scroll 0 0;
  border-radius: 4px;
  font-size: 13px;
  padding: 14px 15px;
  color: #535165;
  border: 1px solid #e4e4e4;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form textarea:focus {
  outline: none;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form button.main-btn.color {
  color: #ffffff;
  background: #d82c2c;
  border: medium none;
  border-radius: 30px;
  float: right;
  font-size: 14px;
  margin: 0 3px;
  padding: 5px 20px;
  transition: all 0.2s linear 0s;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form button.main-btn.cancel {
  background: #888da8;
  border: medium none;
  border-radius: 30px;
  color: #fff;
  float: right;
  font-size: 14px;
  margin: 0 3px;
  padding: 5px 20px;
  transition: all 0.2s linear 0s;
}
.popup-wraper3 .popup .popup-meta .Rpt-meta .c-form button.main-btn.color:active, .popup-wraper3 .popup .popup-meta .Rpt-meta .c-form button.main-btn.color:focus, .popup-wraper3 .popup .popup-meta .Rpt-meta .c-form button.main-btn.cancel:active, .popup-wraper3 .popup .popup-meta .Rpt-meta .c-form button.main-btn.cancel:focus {
  outline: none;
}
.popup-wraper3 .popup::after {
  color: #d82c2c;
  border-bottom: 5px solid;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 1;
  position: absolute;
  width: 100%;
}
.popup-wraper4 {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear 0s;
}
.popup-wraper4 .popup.post-sharing {
  width: 450px;
  background: #ffffff;
  border-radius: 5px;
  left: 50%;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup-wraper4 .popup.post-sharing .popup-closed {
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  right: 18px;
  top: 15px;
  z-index: 9;
}
.popup-wraper4 .popup.post-sharing .popup-closed i {
  line-height: initial;
  font-size: 20px;
  color: #9a9fbf;
}
.popup-wraper4 .popup.post-sharing .popup-meta {
  display: inline-block;
  width: 100%;
}
.popup-wraper4 .popup.post-sharing .popup-meta .popup-head {
  border-bottom: 1px solid #dedede;
  display: inline-block;
  padding-bottom: 25px;
  width: 100%;
}
.popup-wraper4 .popup.post-sharing .popup-meta .post-comt-box {
  padding-left: 0;
  width: 100%;
  display: inline-block;
  position: relative;
}
.popup-wraper4 .popup.post-sharing .popup-meta .post-comt-box textarea {
  margin-bottom: 10px;
  width: 100%;
  background: #edf2f6 none repeat scroll 0 0;
  border-color: transparent;
  border-radius: 5px;
  color: inherit;
  font-size: 13px;
  height: 80px;
  line-height: 16px;
  padding: 10px;
  border-bottom: 0;
  resize: none;
  overflow: auto;
  margin: 0;
  font-family: inherit;
}
.popup-wraper4 .popup.post-sharing .popup-meta .post-comt-box textarea:active, .popup-wraper4 .popup.post-sharing .popup-meta .post-comt-box textarea:focus {
  outline: none;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure::-webkit-scrollbar {
  display: none;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure {
  margin: 0 0 16px;
  display: block;
  width: 410px;
  height: 230px;
  overflow: scroll;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure img {
  height: 100%;
  width: 100%;
  padding-bottom: 3px;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure .edit-pst ~ .col-6 {
  max-height: 100%;
  width: 100%;
  padding: 0 1px;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure .edit-pst ~ .col-6 .popup-img-closed {
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 9;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure .edit-pst ~ .col-6 .popup-img-closed i {
  line-height: initial;
  font-size: 13px;
  color: #515365;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure .edit-pst {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  left: 20px;
  line-height: 38px;
  opacity: 0;
  position: absolute;
  text-align: center;
  transform: scale(0);
  transition: all 0.2s linear 0s;
  width: 40px;
  z-index: 9;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure .edit-pst .fileContainer {
  display: inline-block;
  font-size: 14px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  width: 23px;
  height: 23px;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure .edit-pst .fileContainer i {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  color: #ffffff;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure .edit-pst .fileContainer [type=file] {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure .edit-pst label {
  margin-bottom: 8px;
}
.popup-wraper4 .popup.post-sharing .popup-meta figure:hover .edit-pst {
  opacity: 1;
  transform: scale(1);
}
.popup-wraper4 .popup.post-sharing .popup-meta .friend-info {
  display: inline-block;
  position: relative;
  width: 100%;
}
.popup-wraper4 .popup.post-sharing .popup-meta .friend-info figure {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  width: 40px !important;
  height: 40px !important;
  overflow: hidden;
}
.popup-wraper4 .popup.post-sharing .popup-meta .friend-info figure img {
  border-radius: 100%;
  object-fit: cover;
}
.popup-wraper4 .popup.post-sharing .popup-meta .friend-info .friend-name {
  width: 89%;
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}
.popup-wraper4 .popup.post-sharing .popup-meta .friend-info .friend-name ins {
  display: inline-block;
  width: 90%;
  font-size: 12px;
  text-decoration: none;
}
.popup-wraper4 .popup.post-sharing .popup-meta .friend-info .friend-name ins a {
  font-size: 13.5px;
  font-weight: 500;
  color: #d82c2c;
  outline: none;
  text-decoration: none;
}
.popup-wraper4 .popup.post-sharing .popup-meta .friend-info .friend-name span {
  color: #999;
  float: left;
  font-size: 12px;
  text-transform: capitalize;
  width: 90%;
}
.popup-wraper4 .popup.post-sharing .popup-meta .we-video-info {
  padding-bottom: 0;
  border-top: 1px solid #ede9e9;
  float: left;
  padding: 8px 0 0;
  position: relative;
  width: 100%;
  z-index: 0;
}
.popup-wraper4 .popup.post-sharing .popup-meta .we-video-info button.main-btn.color {
  color: #ffffff;
  background: #d82c2c;
  border: medium none;
  border-radius: 30px;
  float: right;
  font-size: 14px;
  margin: 0 3px;
  padding: 5px 20px;
  transition: all 0.2s linear 0s;
}
.popup-wraper4 .popup.post-sharing .popup-meta .we-video-info button.main-btn.color:active, .popup-wraper4 .popup.post-sharing .popup-meta .we-video-info button.main-btn.color:focus, .popup-wraper4 .popup.post-sharing .popup-meta .we-video-info button.main-btn.cancel:active, .popup-wraper4 .popup.post-sharing .popup-meta .we-video-info button.main-btn.cancel:focus {
  outline: none;
}
.popup-wraper4 .popup.post-sharing .popup-meta .we-video-info button.main-btn.cancel {
  background: #888da8;
  border: medium none;
  border-radius: 30px;
  color: #fff;
  float: right;
  font-size: 14px;
  margin: 0 3px;
  padding: 5px 20px;
  transition: all 0.2s linear 0s;
}
.popup-wraper4 .popup::after {
  color: #d82c2c;
  border-bottom: 5px solid;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 1;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .weather-widget, .advertisment-box, .widget.term-links {
    display: none !important;
  }
  .row.merged20 > div {
    padding: 0 15px !important;
  }
  .profile-controls {
    bottom: auto !important;
    padding: 4px 9px !important;
    top: 0 !important;
  }
  .profile-controls > li > a, .profile-controls > li > div {
    font-size: 13px !important;
    height: 30px !important;
    line-height: 30px !important;
    width: 30px !important;
  }
  .profile-author {
    margin-top: -109px !important;
  }
  .profile-author-thumb > img {
    max-width: 100px !important;
    min-width: 100px !important;
    width: 100px !important;
    height: auto !important;
  }
  .author-content {
    margin-top: 22px !important;
  }
  .author-name {
    font-size: 18px !important;
  }
  .profile-menu {
    text-align: center !important;
    padding-left: 0 !important;
    width: 100% !important;
  }
  .profile-menu > li:first-child {
    margin-left: 0 !important;
  }
  .profile-menu > li {
    margin: 0 19px !important;
  }
}
@media screen and (max-width: 420px) {
  .weather-widget, .advertisment-box, .widget.pitnik-links {
    display: none !important;
  }
  .edit-pp, .edit-dp {
    height: 30px !important;
    line-height: 30px !important;
    width: 30px !important;
  }
  .profile-controls {
    background: rgba(0, 0, 0, 0) !important;
    border-radius: 4px !important;
    bottom: -45px !important;
    top: auto !important;
  }
  .profile-author {
    margin-left: 0 !important;
    margin-top: -85px !important;
    text-align: left !important;
  }
  .profile-author-thumb > img {
    max-width: 80px !important;
    min-width: 80px !important;
    width: 80px !important;
    height: auto !important;
  }
  .profile-menu {
    padding: 0;
    text-align: left;
    line-height: 40px;
  }
  .profile-menu > li {
    margin: 0 15px;
    margin: 0 15px;
  }
}
