<%- include('head')%>
<div class="container">
    <h1 class="login-title">Lấy lại mật khẩu</h1>
    <% if (warning.length > 0) { %>
        <div id="alert_warring" class="d-none" role="alert">
            <%= warning %>
        </div>
    <% } %>
    <div class="row">
        <div class="col-lg-6">
            <img class="image_user_login" src="images/login_img.png" alt="">
        </div>
        <div class="col-lg-6">
            <div class="form-login">
                <form action="/forgot" method="post">
                    <div class="group_email">
                        <label for="">Email</label>
                        <input type="email" name="email" required >
                    </div>
                    <button type="submit">Gửi mail</button>
                </form>
            </div>
        </div>
    </div>
</div>
<button id="btn_acvited_model" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
</button>
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Thông báo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="content_mesage" class="modal-body">
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
    </div>
    </div>
</div>
</div>
<script>
    const alert_warring = document.querySelector('#alert_warring');
    const content_mesage = document.querySelector('#content_mesage');
    const btn_acvited_model = document.querySelector('#btn_acvited_model');
    if (alert_warring){
        content_mesage.innerHTML = alert_warring.textContent;
        btn_acvited_model.click();
    }
</script>
