
    <%- include('head')%>
    <div class="wrapper">
        <div class="inner">
            <img src="/images/register_img1.png" alt="" class="image-1">
            <form action="">
                <h3>Tạo tài khoản</h3>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form_group" placeholder="Họ tên">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-phone-handset"></span>
                    <input type="text" class="form_group" placeholder="số điện thoại">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-envelope"></span>
                    <input type="text" class="form_group" placeholder="Mail">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form_group" placeholder="mật khẩu">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form_group" placeholder="nhập lại mật khẩu">
                </div>
                <a href="/login"><i class="fas fa-long-arrow-alt-left"></i></a>
                <button id="btn_register">
                    <span>Đăng ký</span>
                </button>
            </form>
            <img src="/images/register_img2.png" alt="" class="image-2">
        </div>
        
    </div>